@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bgMain text-gray-200;
}

.glass {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 1.5rem;
}

.gradient-btn {
  background: linear-gradient(135deg, #00FFC6, #00C6FF);
}